@page
@model HatShopWebAppWAzureDB.Pages.Admin.Hats.ListModel
@{
}
<div class="container">
    <h1 class="mb-5">All Hats</h1>
</div>
@if(Model.Hats!=null){
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var hat in Model.Hats)
        {
            <tr>
                <td>@hat.Name</td>
                <td>@hat.Quantity</td>
                <td>@hat.Price</td>
                <td>@hat.PublishedDate</td>
                <td><a href="/Admin/Hats/Edit/@hat.Id">Edit</a></td>
                <td><a asp-page="list" asp-page-handler="delete" asp-route-id="@hat.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
}else{
    <div class="container">
        No Hats Found!
    </div>
}